* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    font-size: 17px;
    text-decoration: none;
}

.signup-btn {
    border: 1px solid #212832;
    border-radius: 5px;
    padding: 9px 22px;
}

.nav-link {
    margin-right: 55px;
    color: #212832;
}

.language {
    border: none;
    margin-left: 42px;
}

.hero-small-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #df6951;
}

.hero-big-text {
    font-size: 84px;
    font-weight: 700px;
    line-height: 69px;
    margin-top: 24px;
}

main {
    width: 1160px;
    margin: 0 auto;
}

header {
    width: 1160px;
    margin: 47px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left {
    width: 630px;
    /* border: 1px solid red; */
    padding-right: 83px;
    /* border: #df6951; */
    /* border: 2px dashed red; */
    position: relative;
    left: 0;
    z-index: -2;
}

.hero-text {
    padding-right: 153px;
    margin: 30px 0 34px;
}

.hero-left-btn {
    font-size: 18px;
    font-weight: 500;
    /* border: 1px solid; */
    padding: 18px 26px;
    background-color: #F1A501;
    /* box-shadow: 0px 20px 35px rgba(77, 54, 7, 0.2); */
    box-shadow: 4px 4px 5px rgba(32, 24, 7, 0.2);
    border-radius: 10px;
    color: #FFFFFF;

}

.hero-right-btn {
    font-size: 18px;
    font-weight: 500;
    padding: 18px 26px;
    box-shadow: 4px 4px 5px rgba(32, 24, 7, 0.2);
    border-radius: 10px;
    margin-left: 44px;
}

.hero-section {
    display: flex;
    position: relative;
    height: 95vh;
    align-items: center;
}

.hero-right {
    /* border: dashed red; */
    position: absolute;
    right: 0;
    z-index: -1;
    
}

.buttom-services {
    display: flex;
    justify-content: space-between;
    margin-top: 68px;

}

.small-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #5E6282;
}

.big-heading {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-align: center;
    text-transform: capitalize;
    color: #14183E;
}

.services-section {
    padding-top: 105px;
    position: relative;

}

.design {
    position: absolute;
    top: 105px;
    right: -65px;

}

.card {
    width: 267px;
    height: 314px;
    /* border: 1px solid red; */
    padding: 44px 42px;
    border-radius: 36px;
    box-shadow: 2px 4px 4px gray;


}

.card-p-text {
    text-align: justify;
}

.card-h-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #1E1D4C;
    margin: 34px 0 15px;
    text-align: center;
}

.card-ing{
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
}